{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block content %}

<div class="container">
	<div class="content-section">
		<div class="content">
			<h3>{{dump(deck)}}</h3>
		</div>
		{{ include('flash.html.twig') }}
		
	</div>
</div>

{% endblock %}

