{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block content %}

<div class="container">
	<div class="content-section">
		<div class="content">
			{# {{ include('content/cardStart.markdown.twig')|markdown_to_html }} #}
			<h3>{{dump(deck)}}</h3>
		</div>
		
	</div>
</div>

{% endblock %}

