{% extends "base.html.twig" %}

{% block title %}Api{% endblock %}





{% block content %}

<div class="container">
	<div class="content-section">
		<div class="content">
			<ul>
                <li><a href="/api/quote">/api/quote</a>: See the quote of the day!</li>
                <li><a href="/api/deck">/api/deck</a>: See the deck of cards</li>
                <li><a href="/api/deck/shuffle">/api/deck/shuffle</a>: Shuffle the deck</li>
                <li><a href="/api/deck/draw">/api/deck</a>: Draw a card</li>
                <li><a href="/api/deck/draw/">/api/deck/:number</a>: Draw a amount of cards</li>


            </ul>
		</div>
	</div>
</div>


{% endblock %}
