<a id="kmom01"></a>Kmom01
------------------------------


Jag har tidigare gått OOPython-kursen och har därigenom fått grundläggande erfarenhet av att arbeta med klasser och objekt i Python. 
En klass är en mall eller ett recept för att skapa objekt. Där den beskriver vilka metoder och egenskaper objekten ska ha. Ett objekt är en instans av en klass, när man har definierat en klass så kan man skapa ett objekt utifrån det. För att kunna skapa klasser är det också viktigt att förstå hur konstruktorn fungerar, då den kan användas för att skapa  objektens egenskaper. 
Efter att ha gjort övningen tyckte jag att det var lätt att förstå kodstrukturen i Symfony. Det var enkelt att hitta var man skulle lägga till kod, och mapparna var logiskt uppdelade, vilket gjorde det smidigt att navigera i projektet. Några saker som jag tycker är värdefulla är PSR (PHP standards Recommendations), som är standarden för hur man bör strukturera sin kod, till exempel namnkonventioner och kodstil. Jag uppskattar också Security Best Practices, där det handlar om hur man skyddar sig mot SQL-injektioner och hanterar lösenord med hashning på ett säkert sätt. Såklart är även andra delar som nämns viktigt, som Error handling, Database access med PDO men för mig är just  PSR och säkerhetsaspekterna som känns allra viktigast.


<a id="kmom02"></a>Kmom02
------------------------------


<a id="kmom03"></a>Kmom03
------------------------------


<a id="kmom04"></a>Kmom04
------------------------------



<a id="kmom05"></a>Kmom05
------------------------------



<a id="kmom06"></a>Kmom06
------------------------------


<a id="kmom07/10"></a>Kmom07/10
------------------------------